@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Bold.woff") format("woff"), url("../fonts/MuseoModerno-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Regular.woff") format("woff"), url("../fonts/MuseoModerno-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: MuseoModerno, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: MuseoModerno, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-family: MuseoModerno, sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: opacity 2s ease 1s;
  -o-transition: opacity 2s ease 1s;
  transition: opacity 2s ease 1s;
}

.wrapper.loaded {
  opacity: 1;
}

.hello {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
  font-size: 20vh;
  color: #87b8d0bd;
  background: #22356f;
  opacity: 1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.hello.loaded {
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@-webkit-keyframes moveLogo {
  0% {

  }

  50% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }

  75% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }

  100% {
    -webkit-transform: translateX(900%);
            transform: translateX(900%);
  }
}

@keyframes moveLogo {
  0% {

  }

  50% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }

  75% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }

  100% {
    -webkit-transform: translateX(900%);
            transform: translateX(900%);
  }
}

@-webkit-keyframes rondo {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rondo {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.header {
  position: relative;
  background: transparent;
  z-index: 1;
}

.header__main {
  min-height: 60px;
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightblue;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 7.36111vw;
          flex: 0 1 7.36111vw;
}

.header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.41667vw;
          flex: 0 1 10.41667vw;
  height: 50px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #62d0df;
  border-radius: 50px;
  min-width: 150px;
  max-width: 200px;
  font-size: 14px;
}

.header__btn:active {
  background: #020404;
}

.top-header {
  position: fixed;
  z-index: 33;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #625e5ea1;
  background: transparent;
}

.top-header__logo {
  overflow: hidden;
  border-radius: 10px;
  background: lightblue;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 105px;
          flex: 0 0 105px;
}

.top-header__logo svg {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: moveLogo 2s linear 2s backwards;
          animation: moveLogo 2s linear 2s backwards;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.top-header__logo p {
  color: white;
  padding: 0px 5px 5px;
  font-weight: 900;
}

.top-header__tel-body {
  text-align: right;
}

.top-header__tel-body h3 {
  color: black;
  color: darkblue;
}

.top-header__tel-body p {
  font-size: 16px;
  color: black;
}

.tel-country {
  position: relative;
  z-index: 100;
}

.tel-country svg {
  display: none;
  width: 50px;
  height: 50px;
}

.header-menu__icon {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.header-menu__ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-menu__ul li {
  height: 100%;
}

.header-menu__ul .header-menu__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-menu__ul .header-menu__link:hover {
  background: darkblue;
  color: lightblue;
}

.header-menu__link {
  padding: 5px 15px;
  font-size: clamp(20px, 3vw, 24px);
  color: darkblue;
}

.actions-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.actions-header__list {
  height: 100%;
}

.actions-header__link {
  padding: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  font-size: 18px;
  color: darkblue;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.actions-header__link svg {
  margin-right: 5px;
  height: 30px;
  width: 30px;
  fill: black;
}

.actions-header__link:hover,
.actions-header__link:active {
  background: darkblue;
  color: lightblue;
}

.actions-header__link:hover svg,
.actions-header__link:active svg {
  fill: lightblue;
}

.dark {
  background: #76a5ff;
}

.out {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

img {
  width: 100vw;
  height: 100vh;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.hero .container {
  position: relative;
  max-width: 100%;
  height: 50%;
}

.hero__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 350px;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease 1s;
  -o-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

.hero__content._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.hero__title {
  font-size: calc(16px + 14 * ((100vw - 320px) / 1600));
  line-height: calc(20/16);
}

.hero__text {
  font-weight: 600;
  line-height: calc(14/10);
  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
}

.hero__btn {
  padding: 5px 15px;
  background: #76a5ff;
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
}

.popup-calc {
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-calc.open {
  opacity: 1;
  visibility: visible;
}

.popup-calc__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-calc__content {
  color: white;
}

.popup-calc__title {
  text-align: center;
}

.close-popup {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  height: 20px;
  width: 20px;
}

.close-popup svg {
  fill: white;
  height: 20px;
  width: 20px;
}

.close-popup:hover svg,
.close-popup:active svg {
  fill: red;
}

.form {
  width: 50%;
  min-width: 500px;
  padding: 10px;
  border: 1px solid gray;
  background: lightblue;
  color: black;
  margin: 0 auto;
}

.form-calc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
}

.form-calc__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-calc .column-mass {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.form-calc .column-submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-calc .column-submit .form-calc__submit-calculate {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -1px;
  background: #76a5ff;
  color: darkblue;
  -webkit-box-shadow: 0 0 3px 0 black;
          box-shadow: 0 0 3px 0 black;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form-calc .column-submit .form-calc__submit-calculate:hover {
  background: darkblue;
  color: #76a5ff;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
}

.form-calc .column-submit .form-calc__submit-calculate:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-calc__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 5px 10px;
  font-weight: 700;
  margin: 0 5px 5px;
  border-radius: none !important;
}

.form-calc__title {
  margin: 0 0 5px 5px;
}

.form-calc__mass {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.form-calc__metrs {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 72%;
          flex: 0 1 72%;
}

.form-calc__result {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-calc__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form-calc__description p {
  width: 100%;
  font-size: 12px;
}

.form-calc input[type="checkbox"] {
  margin: 0 5px;
  line-height: 100%;
  display: none;
}

.checkbox {
  font-size: 12px;
  letter-spacing: -0.5px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.checkbox svg {
  fill: white;
}

.checkbox:hover svg {
  -webkit-filter: drop-shadow(0px 0px 2px black);
          filter: drop-shadow(0px 0px 2px black);
}

.metrs-form__fsize {
  position: relative;
  width: 95%;
}

.metrs-form__fsize span {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.metrs-form__input {
  width: 100%;
  padding: 5px 10px;
}

.metrs-form__lvhsize {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.metrs-form__lvhsize span {
  position: absolute;
  right: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.metrs-form__lvhsize input {
  width: 30%;
  padding: 5px;
}

.metrs-form__lvhsize .metrs-form__fsize-x {
  background: #fff;
  text-align: center;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  border-radius: none !important;
}

.chek-input:checked + label svg path {
  fill: #6fd454;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 905px) {
  .header__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 780px) {
  .header__main {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 75.5px;
  }

  .tel-country h3,
  .tel-country p {
    display: none;
  }

  .tel-country a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .tel-country svg {
    display: inline-block;
    fill: #6fd454;
    -webkit-animation: rondo 0.7s ease infinite forwards;
            animation: rondo 0.7s ease infinite forwards;
  }

  .tel-country .tel-body__link:hover svg,
  .tel-country .tel-body__link:active svg {
    fill: #61ff36;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .hero__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .header__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 0;
    margin: 0;
  }

  .top-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .top-header .tel-country {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .top-header._active {
    background: #3ecd9c;
  }

  .top-header__logo {
    display: none;
  }

  .top-header__tel-body {
    text-align: center;
  }

  .header-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 100%;
    width: 100%;
    padding-top: 90px;
  }

  .header-menu._active {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
    background: #25eaabbd;
  }

  .header-menu._active .btn {
    margin: 0 auto;
  }

  .header-menu__ul .header-menu__link:hover {
    background: transparent;
    color: darkblue;
  }

  .header-menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
    height: 100%;
  }

  .header-menu__ul li {
    height: auto;
    margin: 10px 0;
  }

  .header-menu__ul .tel-mail {
    margin-top: 10px;
  }

  .header-menu__link:active {
    opacity: 0.5;
  }

  .actions-header {
    height: 50px;
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #76a5ff80;
  }

  .actions-header__menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .actions-header__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .actions-header__link p {
    font-size: 9px;
    text-transform: uppercase;
  }

  .actions-header__link svg {
    margin: 0;
  }

  .icon-menu {
    position: relative;
    width: 30px;
    margin: 0 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
}

@media (max-width: 479.98px) {
  .form {
    min-width: 320px;
  }

  .form-calc__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-calc__column {
    margin-bottom: 5px;
  }

  .form-calc .column-mass {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .form-calc__result {
    margin-top: 10px;
  }
}